<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>

        <body>
            <div class="container">



                <div class="card">
                    <div class="card-header">

                    </div>
                    <%- article.body %> 
                    <div class="card-body">

                    </div>

                </div>
            </div>



        </body>
        <%- include('partials/footer.ejs') %>